.blocks-layouts-page-links {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--cms-border-colour, #ccc);

  &__item {
    color: var(--cms-text-colour, #000);
    margin-bottom: 10px;
    line-height: 1em;

    &:last-child {
      margin-bottom: 0;
    }

    i,
    a {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      color: inherit!important;
    }

    i {
      margin-right: 4px;
      font-size: 1.2em;
    }

    a {
      text-decoration: none;

      &:hover,
      &:focus-visible,
      &:active {
        text-decoration: underline;
      }
    }
  }

  h3 ~ &__item {
    margin-left: 20px;
  }

  &__item + h3 {
    margin-top: 20px;
  }
}
