@media (min-width: 1400px) {
  #Root_Main {
    &:has(#BlockPreviewFrame) {
      .form-group {
        width: 50%;
        margin-left: 0!important;
        margin-right: 0!important;
        padding-right: 40px!important;

        &:after {
          margin-left: 0!important;
          margin-right: 0!important;
        }
      }

      .form__field-label {
        padding-left: 0;
        flex-basis: 100%!important;
        max-width: 100%!important;
      }

      .form__field-holder {
        flex-basis: 100%!important;
        max-width: 100%!important;
        margin-left: 0 !important;
        padding-left: 0!important;
        padding-right: 0!important;

        &.form-check {
          margin-left: 20px!important;
          max-width: calc(100% - 20px)!important;
        }

        .form__field-holder {
          padding-left: 0!important;
          padding-right: 0!important;
        }
      }
    }
  }
}

#BlockPreviewFrame {
  position: relative;
  display: block;
  margin-top: 25px;
  margin-bottom: 75px;
  flex: 100%;

  @media (min-width: 992px) {
    flex: 0 0 75%;
    max-width: 75%;
    margin-left: 25%;
  }

  @media (min-width: 1200px) {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
    margin-left: 16.66666667%;
  }

  @media (min-width: 1400px) {
    float: right;
    position: sticky;
    top: 0;
    right: 0;
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
  }

  &:before {
    content: 'Save to update this preview';
    display: block;
    position: absolute;
    top: 100%;
    margin-top: 5px;
    left: 0;
    z-index: 1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    border: 1px solid var(--cms-border-colour, transparent);
    border-radius: 3px;
    transform-origin: 0 0;
  }
}
